---
import * as m from "../paraglide/messages";
import LearnMore from "./LearnMore.astro";

const certifications = [
    {
        title: "Github foundations",
        description: m.certification1Description(),
        image: "/foundations.png",
        url: "https://www.credly.com/badges/59b99d11-7818-4e7a-93e0-570231c57b42",
    },
    {
        title: "MongoDB Associate Developer",
        description: m.certification2Description(),
        image: "/mongodb.png",
        url: "https://www.credly.com/badges/f47ea261-da24-455e-ba01-928030dee904",
    },
];
---

<section id={m.certificationsNavLabel()} class="container w-full mx-auto lg:max-w-4xl md:max-w-2xl mt-12">
    <h2 class="font-semibold text-2xl md:text-3xl">{m.certificationsTitle()}</h2>
    <div class="flex flex-col justify-start gap-6 mt-8">
        {
            certifications.map((certification) => (
                <div class="flex flex-col md:flex-row md:justify-start gap-6 w-full">
                    <div class="flex justify-center md:justify-start container w-full md:max-w-44">
                        <img
                            src={certification.image}
                            alt={certification.title}
                        />
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="flex align-middle items-center justify-center md:justify-start gap-2">
                            <h3 class="text-xl md:text-2xl font-semibold">
                                {certification.title}
                            </h3>
                        </div>
                        <p class="text-center md:text-left md:max-w-xl">{certification.description}</p>
                        <div class="flex w-full justify-center md:justify-start">
                            <LearnMore href={certification.url}>
                                {m.viewCertification()}
                            </LearnMore>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>
