---
import * as m from "../paraglide/messages";
import { languageTag } from "../paraglide/runtime";

const makeUrlForLanguage = (lang: string) => {
  if (lang === languageTag()) return Astro.url.pathname;
  if (lang === "en")
    return `${Astro.url.pathname.replace(`/${languageTag()}`, "")}\/`;
  return `${Astro.url.pathname.replace(`/${languageTag()}`, "")}${lang}`;
};
---

<ul class="flex md:border-l md:border-gray-700 md:pl-4 md:divide-x-2 gap-2">
  <li>
    <a class="relative block transition md:hover:text-orange-highlight" 
    aria-label={m.switchToSpanish()}
    href={makeUrlForLanguage("es")}
      >{m.goToLanguage(undefined, { languageTag: "es" })}</a
    >
  </li>
  <li>
    <a class="pl-2 relative block transition md:hover:text-orange-highlight"
    aria-label={m.switchToEnglish()}
    href={makeUrlForLanguage("en")}
      >{m.goToLanguage(undefined, { languageTag: "en" })}</a
    >
  </li>
</ul>
