---
import DownloadIcon from "./icons/DownloadIcon.astro";
import EyeIcon from "./icons/EyeIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import Mail from "./Mail.astro";
import SocialLink from "./SocialLink.astro";

import * as m from "../paraglide/messages";
---

<div class="flex flex-row flex-wrap justify-center md:justify-normal gap-2">
    <SocialLink href="https://github.com/IsraelSi11">
        <GithubIcon />
        <span>GitHub</span>
    </SocialLink>
    <SocialLink
        href="https://www.linkedin.com/in/israel-solís-iglesias-43ab6225a/"
    >
        <LinkedinIcon />
        <span>Linkedin</span>
    </SocialLink>
    <!--SocialLink
        href={`/portfolio/${m.cvPdfName()}`}
        download={m.cvPdfName()}
    >
        <DownloadIcon />
        <span>{m.downloadCv()}</span>
    </SocialLink>
    <SocialLink href={m.cvUrl()}>
        <div class="flex items-center">
            <EyeIcon />
            <span>{m.viewCv()}</span>
        </div>
    </SocialLink>
    -->
    <div>
        <Mail />
    </div>
</div>
